.footer {
	display: grid;

	padding: 25px 30px;

	color: var(--white);
	background: var(--primary);

	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	grid-template-columns: 1fr auto auto;
	gap: 10px 40px;
}

.footer a:hover {
	color: tomato;
}

@media (max-width: 768px) {
	.footer {
		grid-template-columns: 1fr;
	}
}
