.firstLevel {
	display: grid;

	align-items: center;

	margin: 20px 0 20px 0;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevelList {
	padding: 0;

	list-style: none;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin-left: 12px;
	padding: 0 0 0 32px;

	list-style-type: none;

	border-left: 1px solid #DFDFDF;
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);

	border: none;

	outline-offset: 1px;

	background-color: transparent;

	font-size: 12px;
	font-weight: 300;

	line-height: 16px;
}

.secondLevelBlock {
	overflow: hidden;

	margin: 0 !important;
	padding: 0 6px;

	list-style: none;
}

.thirdLevel {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;

	color: var(--gray-dark);

	outline-offset: 0;

	font-size: 14px;
	font-weight: 500;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
