@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray: #A4A4A4;
	--gray-light: #EBEBEB;
	--gray-dark: #787D85;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5D34FF;
	--red: #DE0000;
	--red-light: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--background: #F5F6F8;
	--font-family: 'Noto Sans KR', sans-serif;
}
